<!-- uploads.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Photo Upload</title>
</head>
<body>
    <h1>Uploaded Images</h1>
    <% for (let i = 0; i < imagePaths.length; i++) { %>
        <img src="<%= '/' + imagePaths[i] %>" alt="Uploaded Image">
    <% } %>
</body>
</html>
